/*public*/
* {
    box-sizing: border-box;

}

p, span, em, i, b {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 100%;
}

body, html {
    background-color: #f5f5f5;
    min-height: 100%;
    width: 100%;
}

/*<!--头部浮动-->*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 2.03vw 2.13vw;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #F5F5F5;


}


.header > .logoImg {
    width: 6.37vw;
    height: 6.37vw;
}

.header span {
    font-size: 4.8vw;
    color: black;
}

.header .more {
    font-size: 8vw;
    color: #666;
    line-height: 100%;
    overflow: hidden;
    height: 8vw;
    width: 8vw;
    position: relative;
}

/*<!--添加收货地址-->*/
.addAddress {
    background-color: white;
    padding: 7.18vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.8vw;
    margin-bottom: 1.93vw;
}

.addAddress p {

    color: black;
    display: flex;
    align-items: center;
}

.addAddress p img {
    display: inline-block;
    width: 4vw;
    height: 5vw;
    margin-right: 2vw;
}

.fool {
    background-color: white;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.8vw;
    color: black;
    border-bottom: 2px solid #f5f5f5;
}
.address{
    margin: 3vw 0;
    padding: 3vw 3vw;
}
.address .content{
    width: 80%;
}
.address .content .title {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
}
.address .content p{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4vw;
    font-size: 3.33vw;
    color: #999999;
    padding-top: 3vw;

}
.address  .content p img {
    display: inline-block;
    width: 4vw;
    height: 5vw;
    margin-right: 2vw;
}

/*<!--商品列表-->*/
.good-list {
    padding: 7.18vw 3vw;
}

.good-list .img-box img {
    width: 15vw;
    height: 15vw;
    display: inline-block;
}

.good-list p span {
    display: inline-block;
    margin-right: 2vw;
}

/*<!--支付方式-->*/
.payment,
.time,
.gift {
    padding: 3.12vw 3vw;
}

.payment p span,
.time p span,
.gift p span {
    display: inline-block;
    margin-right: 2vw;
}

/*<!--总计-->*/
.total {
    margin-top: 2.39vw;
    background-color: white;
    font-size: 3.8vw;
    color: black;
    padding: 4vw 3vw;
}

.total p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.1vw 0;
}

/*<!--底部浮动栏-->*/
.submit {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    align-items: center;
    z-index: 10;

}

.submit .left {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 14vw;
}

.submit .left input {
    width: 4.2vw;
    height: 4.2vw;
    display: block;
    background-color: white;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #999999;
    margin-left: 3vw;
    margin-right: 2vw;

}

.submit a {
    display: block;
    width: 30%;
    font-size: 4.2vw;
    text-align: center;
    color: white;
    background-color: red;
    height: 14vw;
    line-height: 14vw;
}

.submit .left {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 4vw;
}

.submit .left span {
    font-size: 2.98vw;
    display: inline-block;
    margin-right: 2vw;
}

.submit .left i {
    font-size: 3.88vw;
    color: black;
}

.hide {
    display: none;
}
/*<!--商品列表cover-->*/
.good-list-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
}
.good-list-cover .header,
.time-cover .header{
    position: relative;
}
.good-list-cover .title{
    padding: 4vw 3vw;
    font-size: 3.66vw;
    color: black;
    background-color: #f5f5f5;
}
.good-list-cover li {
    display: flex;

}
.good-list-cover li  img{
    width: 30vw;
    height: 30vw;
}
.good-list-cover li .content{
    font-size: 3.33vw;
    color: black;
    padding-top: 2vw;
    width: 60%;
}
.good-list-cover li .content p{
    padding-bottom: 1vw;
}
.good-list-cover li .content .size{
    color: #999999;
    padding-top: 1vw;
}
.good-list-cover li .content .price-num{
    display: flex;
    justify-content: space-between;
    padding-top: 6vw;

}
/*<!--支付方式cover-->*/
.payment-cover-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #999999;
    opacity: 0.5;
    display: none;
}
.payment-cover{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    font-size: 4vw;
    color: black;
    z-index: 21;
    display: none;
}
.payment-cover .title{
    display: flex;
    justify-content: space-between;
    padding: 3vw 3vw;
    font-size: 4vw;
    color: black;
    border-bottom: 1px solid #f5f5f5;
}
.payment-cover .title .close{
    width: 4vw;
    height: 4vw;
}
.payment-cover li{
    padding: 2vw 3vw;
    border-top: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-cover li .pay-type{
    display: flex;
    align-items: center;

}
.payment-cover li .pay-type img{
    width: 8vw;
    height: 8vw;
    display: block;
    margin-right: 3vw;
}
.payment-cover li input{
    width: 6vw;
    height: 6vw;
    -webkit-appearance: none;
    background: url("./img/radio-w.png") ;
    background-size: cover;
    outline: none;
}
.payment-cover li input:checked{
    background: url("./img/radio-b.png") ;
    background-size: cover;
}
.payment-cover ul{
    padding-bottom: 20vw;
}
.payment-cover button{
    text-align: center;
    width: 100%;
    font-size: 4.2vw;
    color: white;
    padding: 4.5vw 0;
    background-color: red;
    display: block;
}
/*<!--配送时间cover-->*/
.time-cover{
    position: fixed;
    z-index: 21;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    display: none;
}
.time-cover li{
    padding: 3vw;
    font-size: 4vw;
    display: flex;
    justify-content: space-between;
    color: black;
}
.time-cover li input{
    width: 6vw;
    height: 6vw;
    -webkit-appearance: none;
    background: url("./img/radio-w.png") ;
    background-size: cover;
    outline: none;
}
.time-cover li input:checked{
    background: url("./img/radio-b.png") ;
    background-size: cover;
}
.time-cover button{
    text-align: center;
    width: 100%;
    font-size: 4.2vw;
    color: white;
    padding: 4.5vw 0;
    background-color: red;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}